button {
  margin: 25px;
}

body {
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3UXId-qIIRMVRI6Q14OOnEzcGYWBRWgKDkA&usqp=CAU);
  animation: rotate 3s infinite;
}

  @keyframes rotate{
    from{
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }


.jumbotron {
  background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/04/18/337108/db06125da9d4c1c4f67c2692221c8ead-700.jpg);
  -webkit-text-stroke: .3px white;
}

h1 {
  background-color: greenyellow;
  animation: pulse 3s infinite;
}

h3 {
  background-color: greenyellow;
  margin-bottom: 2%;
  animation: pulse 3s infinite;
}

label {
  background-color: greenyellow;
  margin-bottom: 2%;
  animation: pulse 3s infinite;
}

input {
  margin-bottom: 2%;
}

.output {
  background-color: greenyellow;
  display: none;
  animation: pulse 5s infinite;
}

  @keyframes pulse {
    0%{
      background-color: greenyellow;
    }
    25%{
      background-color: yellow;
    }
    50%{
      background-color: orange
    }
    75%{
      background-color: yellow;
    }
    100%{
      background-color: greenyellow
    }
  }